# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/NetBeansProjects/mazoviaKomunikator/nbproject/private/
/NetBeansProjects/mazoviaKomunikator/dist/
/NetBeansProjects/mazoviaKomunikator/build/
/NetBeansProjects/JavaApplication1/nbproject/private/
/NetBeansProjects/JavaApplication1/build/
/NetBeansProjects/JavaApplication1/dist/
/NetBeansProjects/JavaApplication2/nbproject/private/
/NetBeansProjects/JavaApplication2/build/
/NetBeansProjects/JavaApplication2/dist/
/NetBeansProjects/LPierwszeIDoskonale/nbproject/private/
/NetBeansProjects/GeneratorPseudolosowy/nbproject/private/
/NetBeansProjects/GeneratorPseudolosowy/build/
/NetBeansProjects/LineBreaker/nbproject/private/
/NetBeansProjects/LPierwszeIDoskonale/build/
/NetBeansProjects/NaCzynniki/nbproject/private/
/NetBeansProjects/NaCzynniki/build/
/NetBeansProjects/Euklides/nbproject/private/
/NetBeansProjects/DlaKubka/nbproject/private/
/NetBeansProjects/DlaKubka/build/
/NetBeansProjects/fibonaciWartoscLiczb/nbproject/private/