 .button:focused {
     -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
     -fx-background-insets: 0, 1, 2;
     -fx-background-radius: 5, 4, 3;
 }
 .text-field:focused {
       -fx-background-color: -fx-shadow-highlight-color, -fx-text-box-border, -fx-control-inner-background;
          -fx-background-insets: 0, 1, 2;
          -fx-background-radius: 3, 2, 2;
  }

    //Disables highlights on table-view element
  .list-view:focused {
      -fx-background-color: -fx-focus-color,-fx-box-border,-fx-control-inner-background;
      -fx-background-insets: -1.4, 0, 1;
      -fx-background-radius: 1.4, 0, 0;

      /* There is some oddness if padding is in em values rather than pixels,
         in particular, the left border of the control doesn't show. */
      -fx-padding: 1; /* 0.083333em; */
  }

  .list-view .scroll-bar:vertical{
      -fx-background-insets: 0, 0 0 0 1;
      -fx-padding: -0.083333em -0.083333em -0.083333em 0.0em; /* -1 -1 -1 0 */
  }

  .list-view .scroll-bar:horizontal{
      -fx-background-insets: 0, 1 0 0 0;
      -fx-padding: 0.0em 0.0em -0.083333em -0.083333em; /* 0 0 -1 -1 */
  }

  .list-view:disabled {
      -fx-opacity: -fx-disabled-opacity;
  }

  .list-view .corner {
      -fx-background-color: -fx-box-border, -fx-base;
      -fx-background-insets: 0, 1 0 0 1;
  }

  .list-cell {
      -fx-skin: "com.sun.javafx.scene.control.skin.ListCellSkin";
      -fx-background-color: -fx-control-inner-background;
      -fx-padding: 0.25em; /* 3 */
      -fx-text-fill: -fx-text-inner-color;
      -fx-cell-size: 2.0em; /* 24 */
      -fx-opacity: 1;
  }


  .list-cell:odd {
      -fx-background-color: derive(-fx-control-inner-background,-5%);
  }